.marker-icon {
    width: 25px;
    height: 25px;
    /* background-image: url(/assets/icon/marker-icon1.png);
    background-size: contain;
    border: none !important;
    background: transparent !important */
}